In [1]:
import pandas as pd
import datetime as dt
import yfinance as yf
import matplotlib.pyplot as plt
from pandas import *
from pandas_datareader import data as pdr
yf.pdr_override()

/Users/PingelAntoine/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
# Tickers
tickers = ['^GSPC', '^VIX', '^TNX', 'EURUSD=X', 'EURJPY=X', 'GBPJPY=X', 'EURGBP=X', 'GBPUSD=X']

# dates
startdate = '2015-1-1'
train_end = '2017-12-31'
test_start = '2018-01-01'
enddate = '2018-12-31'

# data Close
data_close = pdr.get_data_yahoo(tickers, start=startdate, end=enddate)['Adj Close']
print('\n--- Full dataset')
display(data_close)

# data returns
data = data_close.shift(1) / data_close - 1
print('\n--- Full dataset returns')
display(data)

# Sets
data_train = data[startdate:train_end].dropna()
data_test = data[test_start:enddate].dropna()
print('\n--- Train set unadjusted')
display(data_train)
print('\n--- Test set unadjusted')
display(data_test)

# mu sigma train
mu_train = data_train.mean()
sigma_train = data_train.std()
print('\n--- mu train:')
display(pd.DataFrame(mu_train, columns=['Train set Mean']))
print('\n--- sigma train:')
display(pd.DataFrame(sigma_train, columns=['Train set st dev']))

# Final sets
data_train_prod = (data_train - mu_train) / sigma_train
data_test_prod = (data_test - mu_train) / sigma_train
print('\n--- Train set adjusted')
display(data_train_prod)
print('\n--- Test set adjusted')
display(data_test_prod)

[*********************100%***********************]  8 of 8 completed

--- Full dataset

,EURGBP=X,EURJPY=X,EURUSD=X,GBPJPY=X,GBPUSD=X,^GSPC,^TNX,^VIX
Date,,,,,,,,
2015-01-01,0.77616,144.779999,1.209863,186.429993,1.558094,NaN,NaN,NaN
2015-01-02,0.77590,144.929993,1.208941,186.764999,1.557972,2058.199951,2.123,17.790001
2015-01-05,0.78148,143.860001,1.194643,184.078003,1.528491,2020.579956,2.039,19.920000
2015-01-06,0.78240,142.557007,1.193902,182.205002,1.525832,2002.609985,1.963,21.120001
2015-01-07,0.78444,140.912003,1.187536,179.625000,1.513798,2025.900024,1.954,19.309999
...,...,...,...,...,...,...,...,...
2018-12-25,0.89660,125.769997,1.140394,140.169998,1.271084,NaN,NaN,NaN
2018-12-26,0.89949,126.001999,1.141553,140.052994,1.268875,2467.699951,2.797,30.410000
2018-12-27,0.89816,126.404999,1.136131,140.695999,1.264878,2488.830078,2.743,29.959999
2018-12-28,0.90386,126.767998,1.143105,140.205994,1.264622,2485.739990,2.736,28.340000
2018-12-31,0.90133,126.249001,1.143995,140.026993,1.269358,NaN,2.686,NaN

--- Full dataset returns

,EURGBP=X,EURJPY=X,EURUSD=X,GBPJPY=X,GBPUSD=X,^GSPC,^TNX,^VIX
Date,,,,,,,,
2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-02,0.000335,-0.001035,0.000762,-0.001794,0.000078,NaN,NaN,NaN
2015-01-05,-0.007140,0.007438,0.011968,0.014597,0.019288,0.018618,0.041197,-0.106928
2015-01-06,-0.001176,0.009140,0.000621,0.010280,0.001742,0.008973,0.038716,-0.056818
2015-01-07,-0.002601,0.011674,0.005361,0.014363,0.007950,-0.011496,0.004606,0.093734
...,...,...,...,...,...,...,...,...
2018-12-25,0.002733,0.004150,-0.002729,0.002048,-0.004870,NaN,NaN,NaN
2018-12-26,-0.003213,-0.001841,-0.001015,0.000835,0.001741,NaN,NaN,NaN
2018-12-27,0.001481,-0.003188,0.004772,-0.004570,0.003159,-0.008490,0.019686,0.015020
2018-12-28,-0.006306,-0.002863,-0.006101,0.003495,0.000202,0.001243,0.002558,0.057163
2018-12-31,0.002807,0.004111,-0.000777,0.001278,-0.003731,NaN,0.018615,NaN

--- Train set unadjusted

,EURGBP=X,EURJPY=X,EURUSD=X,GBPJPY=X,GBPUSD=X,^GSPC,^TNX,^VIX
Date,,,,,,,,
2015-01-05,-0.007140,0.007438,0.011968,0.014597,0.019288,0.018618,0.041197,-0.106928
2015-01-06,-0.001176,0.009140,0.000621,0.010280,0.001742,0.008973,0.038716,-0.056818
2015-01-07,-0.002601,0.011674,0.005361,0.014363,0.007950,-0.011496,0.004606,0.093734
2015-01-08,0.001455,-0.001736,0.003325,-0.002986,0.002013,-0.017574,-0.030754,0.135215
2015-01-09,0.002137,-0.000623,0.003385,-0.002861,0.001299,0.008475,0.022831,-0.030769
...,...,...,...,...,...,...,...,...
2017-12-21,-0.004425,-0.005636,-0.003102,-0.001215,0.001111,-0.001982,0.006449,0.010395
2017-12-22,0.002370,0.001057,0.001758,-0.001339,-0.000628,0.000458,-0.001610,-0.028283
2017-12-27,0.000981,0.002093,0.001235,0.001050,0.000107,-0.000790,0.021955,-0.021012
2017-12-28,-0.001430,-0.003689,-0.003605,-0.002392,-0.002180,-0.001831,-0.007401,0.028487
2017-12-29,-0.000585,-0.000378,-0.003427,0.000257,-0.002748,0.005210,0.011227,-0.077899

--- Test set unadjusted

,EURGBP=X,EURJPY=X,EURUSD=X,GBPJPY=X,GBPUSD=X,^GSPC,^TNX,^VIX
Date,,,,,,,,
2018-01-03,0.001939,0.000288,-0.004300,-0.001586,-0.006242,-0.006358,0.007356,0.067760
2018-01-04,-0.001845,0.001235,0.004415,0.002991,0.006281,-0.004012,-0.002446,-0.007592
2018-01-05,-0.001640,-0.006524,-0.004840,-0.004567,-0.003067,-0.006985,-0.009289,0.000000
2018-01-08,0.004151,-0.000595,0.002607,-0.005019,-0.001694,-0.001660,-0.001613,-0.031513
2018-01-09,0.005181,0.005678,0.005597,0.000580,0.000339,-0.001301,-0.025923,-0.055556
...,...,...,...,...,...,...,...,...
2018-12-19,0.000768,0.000461,-0.002247,-0.000316,-0.003103,0.015636,0.016919,0.000000
2018-12-20,-0.003260,-0.000187,-0.001240,0.002994,0.002151,0.016025,-0.003944,-0.098661
2018-12-21,-0.002710,0.005230,-0.005877,0.007989,-0.003308,0.021021,-0.001075,-0.057456
2018-12-27,0.001481,-0.003188,0.004772,-0.004570,0.003159,-0.008490,0.019686,0.015020
2018-12-28,-0.006306,-0.002863,-0.006101,0.003495,0.000202,0.001243,0.002558,0.057163

--- mu train:

          Train set Mean
EURGBP=X       -0.000178
EURJPY=X        0.000090
EURUSD=X       -0.000040
GBPJPY=X        0.000305
GBPUSD=X        0.000162
^GSPC          -0.000278
^TNX           -0.000102
^VIX            0.004274

--- sigma train:

          Train set st dev
EURGBP=X          0.006369
EURJPY=X          0.006734
EURUSD=X          0.006126
GBPJPY=X          0.008712
GBPUSD=X          0.006712
^GSPC             0.007816
^TNX              0.021720
^VIX              0.076458

--- Train set adjusted

,EURGBP=X,EURJPY=X,EURUSD=X,GBPJPY=X,GBPUSD=X,^GSPC,^TNX,^VIX
Date,,,,,,,,
2015-01-05,-1.093199,1.091207,1.960396,1.640579,2.849289,2.417657,1.901404,-1.454415
2015-01-06,-0.156704,1.344024,0.107978,1.144988,0.235404,1.183619,1.787208,-0.799030
2015-01-07,-0.380396,1.720307,0.881667,1.613743,1.160138,-1.435322,0.216765,1.170050
2015-01-08,0.256436,-0.271073,0.549374,-0.377776,0.275753,-2.212937,-1.411214,1.712578
2015-01-09,0.363391,-0.105846,0.559180,-0.363456,0.169370,1.119871,1.055853,-0.458333
...,...,...,...,...,...,...,...,...
2017-12-21,-0.666800,-0.850231,-0.499908,-0.174502,0.141348,-0.218008,0.301620,0.080056
2017-12-22,0.400024,0.143620,0.293546,-0.188687,-0.117818,0.094188,-0.069402,-0.425814
2017-12-27,0.182006,0.297562,0.208142,0.085585,-0.008242,-0.065575,1.015529,-0.330724
2017-12-28,-0.196684,-0.561159,-0.581918,-0.309621,-0.348980,-0.198679,-0.336050,0.316685
2017-12-29,-0.063998,-0.069514,-0.552963,-0.005486,-0.433551,0.702150,0.521580,-1.074741

--- Test set adjusted

,EURGBP=X,EURJPY=X,EURUSD=X,GBPJPY=X,GBPUSD=X,^GSPC,^TNX,^VIX
Date,,,,,,,,
2018-01-03,0.332323,0.029450,-0.695440,-0.217051,-0.954163,-0.777944,0.343372,0.830332
2018-01-04,-0.261786,0.170069,0.727342,0.308306,0.911624,-0.477831,-0.107909,-0.155201
2018-01-05,-0.229555,-0.982101,-0.783588,-0.559244,-0.481116,-0.858102,-0.422970,-0.055901
2018-01-08,0.679619,-0.101651,0.432117,-0.611164,-0.276592,-0.176793,-0.069552,-0.468057
2018-01-09,0.841426,0.829883,0.920332,0.031541,0.026388,-0.130944,-1.188795,-0.782515
...,...,...,...,...,...,...,...,...
2018-12-19,0.148456,0.055117,-0.360317,-0.071280,-0.486547,2.036132,0.783642,-0.055901
2018-12-20,-0.483991,-0.041169,-0.195848,0.308682,0.296314,2.085826,-0.176879,-1.346294
2018-12-21,-0.397515,0.763300,-0.952851,0.882040,-0.517086,2.725055,-0.044765,-0.807372
2018-12-27,0.260432,-0.486781,0.785531,-0.559604,0.446511,-1.050702,0.911073,0.140547
2018-12-28,-0.962245,-0.438566,-0.989422,0.366176,0.005975,0.194592,0.122498,0.691737